body{
    font-family: 'Roboto', sans-serif;
    margin:0;
}

img{
    filter: invert(1);
    height: 200px;
    width: auto;
}


button{
    padding: 0;
    margin: 0;
    border: 0;
}

#rock,
#paper,
#scissors{
    margin: 6px;
    border-radius: 10%;
    transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
    background-color: #457B9D;
    filter: grayscale(50%);
        -webkit-filter: grayscale(50%);
        -moz-filter: grayscale(50%);
}

#rock:hover,
#paper:hover,
#scissors:hover{
    filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
    transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
}

#header,
#explanation{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header{
    flex-direction: column;
    background-color: #1D3557;
    color: #F1FAEE;
    
}

#title{
    font-size: 52px;
    font-weight: bolder;
}

#explanation{
    font-size: 24px;
    font-weight: bold;
}

#scores{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#playerChoice{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:30px;
    background-color: #F1FAEE;
}

#player{
    background-color: #A8DADC;
    display: flex;
    padding-top: 300px;
    flex-grow: 1;
}
#computer{
    background-color: #E63946;
    display: flex;
    padding-top:300px;
    flex-grow: 1;
}
#gameSpace{
    display:flex;   
}

#rock{
    margin-top: 40px;
    margin-right:-400px
}

#paper{
    margin-top: -40px;
}

#scissors{
    margin-top: 40px;
    margin-left:-400px
}

#footer{
    background-color: #1D3557;
    color: #F1FAEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    font-size: 12px;
    padding:6px
}

.score{
    margin-left:2px;
    font-size:16px;
    color: #1D3557;
    font-weight: bold;
}
.content{
    padding-left:2px;
    font-weight: bold;
    color:#1D3557;
}
#computer .score,
#computer .content{
    color: #F1FAEE;
}


